#content {
  margin-top: 3em;
  height: auto;
  position: relative;
  padding: 1.5em 0;
}

.content-header {
}
.content-header h2 {
  font-size: 2rem;
  color: var(--softDark);
  text-align: left;
  max-width: fit-content;
}

restaurants-wrapper,
.restaurants {
  position: relative;
  min-height: 200px;
  padding: 1em 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  align-items: start;
}

.restaurant-card {
  width: 100%;
  height: 100%;

  box-shadow: var(--shadowedSm);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.restaurant-card-img {
  position: relative;
}

.restaurant-card-img > img {
  min-height: 200px;
  max-height: 200px;
  min-width: 270px;
}

.restaurant-card-img-info {
  position: absolute;
  bottom: 0.8em;
  left: 1em;
  right: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-card-img-info-city {
  background: var(--softDark);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  color: var(--softWhite);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.restaurant-card-img-info-city--loading {
  background-color: var(--softDark);
  height: 35px;
  width: 100px;
  display: block;
  border-radius: 5px;
  opacity: 0.3;
}

.restaurant-card-img-info-rating {
  background: var(--softWhite);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  color: #222;
  display: flex;
  align-items: center;
}

.restaurant-card-img-info-rating--loading {
  height: 35px;
  width: 65px;
  border-radius: 5px;
  background-color: var(--softDark);
  opacity: 0.3;
}

.restaurant-card-img img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
}

.restaurant-card-body {
  padding: 0.5em 1em;
}
.restaurant-card-body-name {
  color: var(--softDark);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.restaurant-card-body-name--loading {
  background-color: var(--softDark);
  width: 100%;
  height: 44px;
  border-radius: 5px;
  background-color: gray;
  opacity: 0.3;
}

.restaurant-card-body-description {
  color: #666;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.restaurant-card-body-description--loading {
  opacity: 0.3;
  margin-top: 0.5em;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #666;
}

.restaurant-card-body-link {
  font-size: 1rem;
  background-color: var(--softDark);
  border-radius: 20px;
  padding: 0 1em;
  width: 100%;
  color: #fff;
  text-decoration: none;
  margin: 1em 0;
  text-align: center;
}

.restaurant-card-body-link--loading {
  margin: 1em 0;
  background-color: var(--softDark);
  opacity: 0.3;
  border-radius: 20px;
  width: 100%;
}

.reviews {
  position: relative;
  display: block;
  box-shadow: var(--shadowedSm);
  padding: 1em;
  border-radius: 5px;
}
.reviews-header {
  text-align: center;
}
.reviews-list {
  margin-top: 0.5em;
}
.reviews-card {
  padding: 0.6em 0;
}

.reviews-card-name {
  font-size: 1rem;
  font-weight: bold;
}
.reviews-card-comment {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 0.1em;
}
.reviews-card-date {
  font-size: 0.8rem;
  color: #222;
}
.reviews-form {
  margin-top: 0.5em;
  border-radius: 5px;
}

.restaurant {
  position: relative;
  box-shadow: var(--shadowedSm);

  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-radius: 5px;
  overflow: hidden;
}
.restaurant-jumbotron {
  position: relative;
  flex: 1;
}

.restaurant-jumbotron-img {
  object-fit: cover;
  min-height: 350px;
  max-height: 380px;

  height: 100%;
  width: 100%;
}

.restaurant-jumbotron-card {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  padding: 0.5em 1em;
  max-width: 400px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadowedSm);
}
.restaurant-jumbotron-card-header {
  font-size: 1.5rem;
  font-weight: bold;
}
.restaurant-jumbotron-card-address {
  margin-left: 0.12em;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.1em;
}
.restaurant-jumbotron-card-rating {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5em;
}
.restaurant-jumbotron-card-categories {
  margin: 0.6em 0;
}
.category-label {
  padding: 0.3em 0.5em;
  color: #fff;
  background-color: #555;
  margin-right: 0.5em;
  border-radius: 5px;
  font-size: 0.8rem;
}
.restaurant-jumbotron-card-rating,
.restaurant-jumbotron-card-address {
  display: flex;
  align-items: center;
}

.restaurant-jumbotron-card-description {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.restaurant-menu {
  padding: 0.51em;
  flex: 1;
}
.restaurant-menu-wrapper {
  display: flex;
  flex-direction: column;
}
.restaurant-menu-box {
  padding: 0.5em;
  flex: 1;
}
.restaurant-menu-box-header {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  font-weight: 900;
}

.restaurant-menu-box-list li {
  border-bottom: 1px solid #555;
  padding: 0.5em 0;
  list-style: none;
}
.restaurant-menu-box-list li p {
  color: #555;
}

.loading-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  padding: 1em 0;
}

#favoriteButton {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 0 0.7em;
  border: none;
  background-color: var(--softDark);
  color: #fff;
  border-radius: 5px;
  font-size: 0.95rem;
}
#favoriteButton.active {
  opacity: 0.8;
}

.errorPage,
.emptyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}
.errorPage h2,
.emptyPage h2 {
  max-width: 300px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  restaurants-wrapper,
  .restaurants {
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews-card-name {
    font-size: 1rem;
  }
  .reviews-card-comment {
    font-size: 1rem;
  }
  .reviews-card-date {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  restaurants-wrapper,
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant-menu-wrapper {
    flex-direction: row;
  }
}
