#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  color: var(--softWhite);
  transition: 0.3s ease-in;
  background-color: var(--softDark);
}

.header--scrolled {
  background-color: var(--softDark);
  opacity: 0.98;
}

.header-nav {
  padding: 0.5em 0;
  min-height: 60px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav > * {
  /*border: 1px solid white;*/
}

.header-nav-logo {
  color: inherit;

  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

.header-nav-navbar {
  background: var(--softWhite);
  padding: 1em;
  border-radius: 5px;
  min-width: 200px;
  transition: 0.1s ease-in;
  box-shadow: var(--shadowedMd);

  position: absolute;
  top: 90%;
  right: -100%;
}

.header-nav-navbar--show {
  right: 0;
}

.header-nav-drawer {
  color: inherit;
  font-size: 1.2rem;
  position: relative;
  padding-left: 1em;
}

.header-nav-link {
  list-style: none;
}
.header-nav-link a {
  color: var(--softDark);

  text-decoration: none;
  font-size: 1rem;
}
.header-nav-link a:hover {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .header-nav-drawer {
    display: none;
  }

  .header-nav-navbar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: none;
    padding: 0;
    box-shadow: none;

    min-width: 300px;
  }

  .header-nav-links {
    display: flex;
    align-items: center;
  }

  .header-nav-link {
    margin: 0 1em;
  }

  .header-nav-link a {
    color: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-navbar {
    display: block;
  }
}
