#restaurants-list {
  height: 100%;
  position: relative;
  padding: 1em 0;
}

.restaurants-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.restaurants-list-header h2 {
  font-size: 1.5rem;
  color: var(--softDark);
}

.restaurants-list-header a {
  min-width: 100px;
  font-size: 0.81rem;
  color: var(--softWhite);
  background-color: #111;
  border-radius: 20px;
  padding: 0 1em;
  text-decoration: none;
  text-align: center;
}
.restaurants-list-header a:hover {
  background-color: #222;
}


@media screen and (min-width: 768px) {
  .restaurants-list-header a {
    font-size: 1rem;
  }

  .restaurants-list-header h2 {
    font-size: 2rem;
  }
}
