#restaurants-list {
  height: 100%;
  position: relative;
  padding: 1em 0;
}

.restaurants-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants-list-header h2 {
  font-size: 1.5rem;
  color: var(--softDark);
}

.restaurants-list-header a {
  min-width: 100px;
  font-size: 0.81rem;
  color: var(--softWhite);
  background-color: #111;
  border-radius: 20px;
  padding: 0 1em;
  text-decoration: none;
  text-align: center;
}
.restaurants-list-header a:hover {
  background-color: #222;
}

.restaurants-list-cards {
  margin-top: 2em;
  position: relative;
  height: auto;
  min-height: 200px;
  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 1.5em;
  align-items: start;
}

@media screen and (min-width: 768px) {
  .restaurants-list-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .restaurants-list-header a {
    font-size: 1rem;
  }

  .restaurants-list-header h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants-list-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
